
  <h2 id="alert">Intento fallido de inicio de sesión para la cuenta <%= @mail %></h2>
  <p> Recientemente se ha intentado acceder a su cuenta con credenciales no registradas. Si tiene
    problemas para el inicio de sesión, comuníquese con el administrador del sistema.</p>



