
  <h2 id="success">Inicio de sesión exitoso para la cuenta <%= @mail %></h2>
  <p> Notificamos que se ha realizado un acceso reciente al sistema desde el user agent dispuesto para la conexión al sistema. </p>